
<div fxLayout="column" fxLayoutAlign="start center" style="height: 100%;">

  <div class="main" fxLayout="column" fxLayoutAlign="center center">

    <!-- WIDOK GŁÓWNY -->
    <ng-container *ngIf="!swapViewCard">

      <div fxFlexFill fxFlex="94">
        <mat-grid-list cols="5" rowHeight="fit">
          <mat-grid-tile
              class="main-tile"
              *ngFor="let card of cards"
              (click)="isSwapMode ? enterSwapView(card) : markCard(card)">
            <app-card [card]="card" [showLabel]="isLabelMode" [isMarked]="card.isMarked" [fillHeight]="true"></app-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="bottom-nav" fxFlexFill fxFlex="6" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="row" fxLayoutGap="8px">
          <button mat-flat-button (click)="reloadRandomBoard()">
            <mat-icon>shuffle</mat-icon> Losuj
          </button>
          <button mat-flat-button [color]="isSwapMode ? 'accent' : ''" (click)="swapMode()">
            <mat-icon>swap_horiz</mat-icon> Zmiana karty
          </button>
        </div>

        <div>
          <button mat-flat-button [color]="isLabelMode ? 'accent' : ''" (click)="switchLabels()">
            <mat-icon>text_fields</mat-icon> Labelki
          </button>
        </div>

      </div>

    </ng-container>

    <!-- WIDOK EDYCJI WIERSZA -->
    <ng-container *ngIf="swapViewCard">

      <div fxFlexFill fxFlex="94">
        <app-card-swap-view
          [initialCard]="swapViewCard"
          [showLabels]="isLabelMode"
          (swapped)="onSwapped()">
        </app-card-swap-view>
      </div>

      <div class="bottom-nav" fxFlexFill fxFlex="6" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-flat-button (click)="onBack()">
          <mat-icon>arrow_back</mat-icon> Powrót
        </button>
        <button mat-flat-button [color]="isLabelMode ? 'accent' : ''" (click)="switchLabels()">
          <mat-icon>text_fields</mat-icon> Labelki
        </button>
      </div>

    </ng-container>

  </div>

</div>
